examples/nodered/http-flow.js
[{"id":"10193084.efe6cf","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"596eaa18.a69154","type":"http response","name":"http out","x":756,"y":144,"z":"203346cd.dfccba","wires":[]},{"id":"8c91c653.736e38","type":"http in","name":"http in","url":"/data","method":"get","x":96,"y":104,"z":"203346cd.dfccba","wires":[["caa82c9c.3557d"]]},{"id":"24e867fe.db1798","type":"template","name":"Page Template","field":"","template":"{\n\"temperature\": \"{{data.temperature}}\",\n\"humidity\": \"{{data.humidity}}\"\n}","x":563,"y":226,"z":"203346cd.dfccba","wires":[["596eaa18.a69154"]]},{"id":"caa82c9c.3557d","type":"function","name":"Data buffer","func":"context.data = context.data || new Object();\nswitch (msg.topic) {\n    case \"humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    case \"temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    default:\n    \tmsg.data = context.data;\n}\nreturn msg;","outputs":1,"x":339,"y":152,"z":"203346cd.dfccba","wires":[["24e867fe.db1798"]]},{"id":"311d0a1e.cee2f6","type":"mqtt in","name":"","topic":"temperature","broker":"10193084.efe6cf","x":106,"y":184,"z":"203346cd.dfccba","wires":[["caa82c9c.3557d"]]},{"id":"ce412bd9.31bed8","type":"mqtt in","name":"","topic":"humidity","broker":"10193084.efe6cf","x":107,"y":259,"z":"203346cd.dfccba","wires":[["caa82c9c.3557d"]]}]